/DesktopJavaFramework/build/
/DesktopJavaFramework/dist/
/DesktopJavaFramework/nbproject/private/
/PropertiesManager/build/
/PropertiesManager/dist/
/PropertiesManager/nbproject/private/
/jTPS/build/
/jTPS/dist/
/jTPS/nbproject/private/
/CourseSiteGenerator/nbproject/private/
/CourseSiteGenerator/build/
/CourseSiteGenerator/dist/
/TAManagerTester/nbproject/private/